.inventory-card {
  height: 100%;
  padding: 15px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
  transition: 0.2s;
}
.inventory-card:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
.inventory-card-img {
  width: 100%;
  border-radius: 6px;
  margin-bottom: 16px;
  transition: 0.3s;
}
.inventory-card-img:hover {
  transform: scale(1.05);
}
.inventory-card-title {
  font-family: "Rajdhani", sans-serif;
  font-size: 28px;
  font-weight: 700;
  color: var(--color-text);
}
.inventory-card-desc {
  font-family: "Rajdhani", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: var(--color-text-2);
  margin: 4px 0 8px 0;
}
.inventory-card-price {
  font-family: "Rajdhani", sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: var(--color-red);
}
.inventory-card-quantity {
  font-family: "Rajdhani", sans-serif;
  font-size: 17px;
  font-weight: 500;
  color: var(--color-text);
}
.inventory-card-supplier {
  font-family: "Rajdhani", sans-serif;
  font-size: 15px;
  font-weight: 500;
  color: var(--color-text-2);
  text-transform: uppercase;
}
.inventory-card-supplier span {
  color: #ed7014;
}
.inventory-card-btn {
  margin-top: 15px;
  width: 50%;
  font-family: "Rajdhani", sans-serif;
  text-decoration: none;
  background-color: transparent;
  border: 1px solid var(--color-green);
  border-radius: 50px;
  color: var(--color-green);
  padding: 6px 25px;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  transition: 0.2s;
}
.inventory-card-btn:hover {
  background-color: var(--color-green);
  border: 1px solid var(--color-green);
  color: var(--color-white);
}
.badge {
  background-color: #e8f5e9;
  color: #388e3c;
  border-radius: 50px;
}
