.carousel-indicators {
  display: none;
}
.captions h3 {
  font-family: "Rajdhani", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 62px;
}
.captions h3 span {
  position: relative;
  color: var(--color-red);
}
.captions h3 span::before {
  content: "";
  position: absolute;
  background-image: url(../../assets/images/title-bg.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
  width: 100%;
  bottom: -60px;
}
.captions p {
  font-family: "Rajdhani", sans-serif;
  font-weight: 500;
  font-size: 22px;
}
/* --------------------
media query for small devices
-------------------- */
@media screen and (max-width: 688px) {
  .carousel-item img {
    height: 500px;
    object-fit: cover;
  }
  .captions h3 {
    font-size: 28px;
  }
  .captions p {
    font-size: 14px;
  }
  .captions h3 span::before {
    display: none;
  }
}
/* --------------------
media query for medium devices
-------------------- */
@media screen and (min-width: 689px) and (max-width: 992px) {
  .carousel-item img {
    height: 100%;
    object-fit: cover;
  }
  .captions h3 {
    font-size: 30px;
  }
  .captions p {
    font-size: 16px;
  }
  .captions h3 span::before {
    display: none;
  }
}
