.navbar-light .navbar-brand {
  font-family: "Rajdhani", sans-serif;
  font-size: 32px;
  font-weight: 700;
}
.navbar-light .navbar-nav .nav-link {
  font-family: "Rajdhani", sans-serif;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  margin-left: 20px;
  color: var(--color-heading);
}
.navbar-light .navbar-nav .nav-link:hover {
  color: var(--color-red);
}
.login-btn {
  font-family: "Rajdhani", sans-serif;
  text-decoration: none;
  background-color: transparent;
  border: 2px solid var(--color-heading);
  border-radius: 8px;
  color: var(--color-heading);
  padding: 6px 25px;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  transition: 0.2s;
}
.login-btn:hover {
  background-color: var(--color-heading);
  border: 2px solid var(--color-heading);
  color: white;
}
.logout-btn {
  font-family: "Rajdhani", sans-serif;
  text-decoration: none;
  background-color: var(--color-red);
  border: none;
  border-radius: 8px;
  color: var(--color-white);
  padding: 6px 25px;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  transition: 0.2s;
}
.logout-btn:hover {
  background-color: var(--color-red-dark);
  color: white;
}
/* --------------------
media query for small devices
-------------------- */
@media screen and (max-width: 688px) {
  .navbar-light .navbar-nav .nav-link {
    font-size: 16px;
    margin-left: 0;
    text-align: center;
  }
  .login-btn {
    padding: 8px 25px;
    font-size: 16px;
    font-weight: 700;
  }
  .logout-btn {
    padding: 8px 25px;
    font-size: 16px;
    font-weight: 700;
  }
}
/* --------------------
media query for medium devices
-------------------- */
@media screen and (min-width: 689px) and (max-width: 992px) {
  .navbar-light .navbar-nav .nav-link {
    font-size: 16px;
    margin-left: 0;
  }
  .login-btn {
    padding: 8px 25px;
    font-size: 16px;
    font-weight: 700;
  }
  .logout-btn {
    padding: 8px 25px;
    font-size: 16px;
    font-weight: 700;
  }
}
