.update-inventory-container {
  background-color: var(--color-white);
  border-radius: 10px;
  padding: 40px 20px;
  margin-top: 40px;
}
.update-quantity-text {
  font-family: "Rajdhani", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: var(--color-text);
}
.update-quantity-text span {
  font-family: "Rajdhani", sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: var(--color-heading);
}
.restock-btn {
  font-family: "Rajdhani", sans-serif;
  width: 100%;
  text-decoration: none;
  background-color: var(--color-green);
  border-radius: 6px;
  border: none;
  color: var(--color-white);
  padding: 8px 25px;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  transition: 0.2s;
}
.restock-btn:hover {
  background-color: var(--color-green-dark);
}
.delivered-btn {
  font-family: "Rajdhani", sans-serif;
  width: 100%;
  text-decoration: none;
  background-color: var(--color-red);
  border-radius: 6px;
  border: none;
  color: var(--color-white);
  padding: 8px 25px;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  transition: 0.2s;
}
.delivered-btn:hover {
  background-color: var(--color-red-dark);
}
.manage-inventories-btn {
  font-family: "Rajdhani", sans-serif;
  width: 100%;
  text-decoration: none;
  background-color: var(--color-blue);
  border-radius: 6px;
  border: none;
  color: var(--color-white);
  padding: 8px 25px;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  transition: 0.2s;
}
.manage-inventories-btn:hover {
  background-color: var(--color-blue-dark);
  color: var(--color-white);
}
/* --------------------
media query for small devices
-------------------- */
@media screen and (max-width: 688px) {
  .update-inventory-container {
    padding: 10px;
    margin: 10px;
  }
  .restock-btn {
    padding: 8px 8px;
    font-size: 14px;
    font-weight: 600;
  }
  .delivered-btn {
    padding: 8px 8px;
    font-size: 14px;
    font-weight: 600;
  }
  .manage-inventories-btn {
    padding: 8px 8px;
    font-size: 14px;
    font-weight: 600;
  }
}
