footer {
  background-color: var(--color-heading);
  color: var(--color-bg-light);
  padding: 60px 20px;
}
.footer-desc a {
  /* text-decoration: none; */
  color: var(--color-bg-light);
}
.vertical-line-sm {
  height: 20px;
  width: 1px;
  background-color: var(--color-bg-light);
  margin: 4px 10px;
}
