footer {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: "Rajdhani", sans-serif;
  background-color: var(--color-heading);
  color: var(--color-bg-light);
  padding: 60px 20px;
}
.footer-desc a {
  color: var(--color-bg-light);
}
.footer-desc span {
  font-weight: 600;
}
.vertical-line-sm {
  height: 20px;
  width: 1px;
  background-color: var(--color-bg-light);
  margin: 4px 10px;
}
/* --------------------
media query for small devices
-------------------- */
@media screen and (max-width: 688px) {
  .footer-desc {
    font-size: 12px;
  }
}
