/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Rajdhani:wght@400;500;600;700&display=swap");

/* font-family: 'Poppins', sans-serif;
font-family: 'Rajdhani', sans-serif; */

/* reset all default styles (margin, padding) */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/* common styles and utilities */
body {
  font-family: "Poppins", sans-serif;
}
/* styles variable */
:root {
  --color-red: #e52d27;
  --color-red-dark: #da0000;
  --color-blue: #4460f1;
  --color-blue-dark: #1a34b8;
  --color-green: #46a203;
  --color-green-light: #52af10;
  --color-orange: #ff8000;
  --color-google: #cc4444;
  --color-bg-light: #f6f6f6;
  --color-black: #000;
  --color-white: #fff;
  --color-heading: #1d293f;
  --color-text: #3b4656;
  --color-text-2: #7c8087;
}
